body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    height: 320px;
    width: 320px;
    align-items: center;
    justify-content: center;
    gap: 0px;

}